{% extends 'base.html'%} {% block content%}
    <main class="container py-5">
        <div class="card card-body">
            <div>
                <h1>{{sede.nombre}}</h1>
                {{error}}
                {% if message %}
                <div class="alert alert-success">
                        {{ message }}
                </div>
                {% endif %}
                {{message}}
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary" {% if user.userprofile.rol != 'guardian' %}disabled{% endif %}>
                        Guardar cambios
                    </button>
                </form>
                <form action="{% url 'delete_sede' sede.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger" {% if user.userprofile.rol != 'guardian' %}disabled{% endif %}>
                        Eliminar Sede
                    </button>
                </form>
                
            </div>
        </div>
    </main>


{% endblock %}