{% extends 'base.html'%} {% block content%}

    <main class="container py-5">
        <div class="card card-body">
            <div>
                <h1>{{usuario.user.username}}</h1>
                {{error}}
                {% if message %}
                <div class="alert alert-success">
                        {{ message }}
                </div>
                {% endif %}
                {{message}}
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    
                    <button class="btn btn-primary">
                        Guardar cambios
                    </button>
                </form>
                <form action="{% url 'delete_usuario' usuario.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-warning">
                        Eliminar Usuario
                    </button>
                </form>
                
            </div>
        </div>
    </main>




{% endblock %}