{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <div class="card card-body">
      <div class="row">
        <h1>Grupos</h1>
        {% if user.userprofile.rol == 'director' or user.userprofile.rol == 'guardian' %}
        <div class="col-md-6">
          <form action="/grupos/" method="POST">
            {% if message %}
             	<div class="alert alert-success">{{ message }}</div>
            {% endif %}

            {% if error %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endif %}
            <h3>Agregar Grupo</h3>
            {% csrf_token %}
              
            {{ grupoForm.as_p }}
            <button class="btn btn-primary">Enviar</button>
          </form>
        </div>
        {% endif %}
        <div class="col-md-6">
          <h3>Grupos Actuales</h3>
          <ul class="list-group">
              {% for grupo in grupos %}
              <a href= "{% url 'edit_grupo' grupo.id %}" class="list-group-item btn-hover">
                <header class="d-flex justify-content-between">
                  <p>Grupo: {{grupo.grupo}}</p>
                  <p>Clase: {{grupo.curso}}</p>
                  <p>Instructor: {{grupo.instructor.get_full_name}} </p>
                </header>
              </a>

              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </main>

  <style>
    /* Estilo personalizado para cambiar el color al pasar el ratón */
    .btn-hover:hover {
      background-color:#DCDCDC;
    }
  </style>

{% endblock %}