{% extends 'base.html' %}

{% block content %}


<main class="container py-5">
    <div class="">
        <section class="card card-body">
            <h1 class="display-1 text-center">Jeet Kune Do</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nemo, rerum commodi adipisci eum corporis obcaecati labore optio doloribus odit ducimus, 
                velit sit autem quo ut modi? Deserunt, delectus similique!</p>
            <h2> Conoce nuestras clases:</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi dolor illum accusantium nihil doloremque provident facilis exercitationem, rerum incidunt
                 veniam quaerat quisquam earum id voluptate officiis, esse hic maxime saepe?</p>
        </section>
    </div>
    
</main>


{% endblock %}