{% extends 'base.html'%} {% block content%}

    <main class="container py-5">
      <div class="card card-body">
        <div class="row">
          <h1>Sedes</h1>
          <div class="col">
            <form action="/sedes/" method="POST">
                <h3>Agregar Sede</h3>
                {% csrf_token %}
                {{form.as_p}}
               
                <button class="btn btn-primary">Enviar</button>
                {% if message %}
                <div class="alert alert-success">{{ message }}</div>
                {% endif %}

                {% if error %}
                <div class="alert alert-danger">
                        {{ error }}
                </div>
                {% endif %}
            </form>
          </div>
          <div class="col">
            <h3>Sedes Actuales</h3>
            <ul>
                {% for sede in sedes%}
                <li> {{sede.nombre}} </li>
                <ul>
                    <li> Ubicación: {{sede.ubicacion}} </li>
                    <li> Código Postal: {{sede.codigo_postal}} </li>
                    <a class="btn btn-primary" href="{% url 'edit_sede' sede.id %}">
                      Editar
                    </a>
                </ul>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </main>

{% endblock%}
