{% extends 'base.html'%} {% block content%}
    <main class="container py-5">
      <div class="card card-body">
        <div class="row">
          <h1>Usuarios</h1>
          <div class="col">
            <form action="/usuarios/" method="POST">
              {% csrf_token %}
              {% if error %}
                <div class="alert alert-success">
                        {{ error }}
                </div>
                {% endif %}
                
              <h3>Agregar Usuario</h3>                
              {{user_form.as_p}}
              {{profile_form.as_p}}

                <button class="btn btn-primary">Enviar</button>
            </form>
          </div>
          <div class="col">
            <h3>Directores Actuales</h3>
            <ul class="list-group">
                {% for director in directores %}
                    <a class="list-group-item" href="{% url 'edit_usuario' director.id %}">
                    <header class="d-flex justify-content-between">
                      <p>Nombre: {{director.nombre}} {{director.apellido_paterno}} </p>
                      <p>Rol: {{director.rol}} </p>
                    </header>
                    </a>
                {% endfor %}
            </ul>
            <h3>Secretarios Actuales</h3>
            <ul class="list-group">
                {% for secretario in secretarios %}
                    <a class="list-group-item" href="{% url 'edit_usuario' secretario.id %}">
                    <header class="d-flex justify-content-between">
                      <p>Nombre: {{secretario.nombre}} {{secretario.apellido_paterno}} </p>
                      <p>Rol: {{secretario.rol}} </p>
                    </header>
                    </a>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </main>

{% endblock%}